/* Base Application Styles */
html, body {
  height: 100%;
  overflow: hidden;
}

ul {
  list-style-type: none;
  padding: 0;
}

div.scroll
{
    /* overflow:hidden; */
    min-height:100px;
    height: 100vh;
    overflow-x:hidden;
    overflow-y:auto;
    -ms-overflow-y:auto;
    -ms-overflow-x:hidden;

}

.list-functions {
  /* background-color: #dadada;
  padding-right: 0px; */
}

.function-selector {
  padding: 3px;
  padding-right: 0px;
  padding-left: 10px;
  cursor: pointer;
  border-top-left-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
}

.search-function {
  position: static;
  padding: 10px;
  margin-bottom: 0px;
}

.action-panel {
  margin-bottom: 10px;
  padding-left: 10px;
}

.action-panel div {
  display: inline;
}

.btn-dep {
    margin-right: 10px;
}

.active {
  /* background-color: white; */
  font-size: 18px;
}

.stage {
  position: fixed;
   top: 0; right: 0; bottom: 0; left: 0;
}

textarea {
  width: 100%;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
